<div class="container">
  <h1><%= @hello  %></h1>
  <hr>

  <h2>Page layout</h2>
  <p>The banner and footer are coming from views/layout.erb</p>

  <h2 class="mt-4">This is a bootstrap button:</h2>
  <a href="https://getbootstrap.com/docs/4.6/components/alerts/" class="btn btn-primary mb-4">Click me to find more bootstrap components for your website</a>

  <h2>This text has a customized style</h2>
  <div class="text-red">The text-red class is coming from public/style.css</div>
</div>