<div class="container">
  <h2>Setup:</h2>
  <p>Check the code <a href="https://github.com/yannklein/google-api-ruby-sandbox">here</a></p>
  <p>Activate your Google API <a href="https://github.com/googleapis/google-cloud-ruby#using-the-client-libraries">here</a> and get a JSON file with your creadentials</p>
  <p>Add the JSON file in a google-credentials.json file in the root folder of your project.</p>
  <h2>Example of Google API usage:</h2>
  <p>Check the code <a href="https://github.com/yannklein/google-api-ruby-sandbox">here</a></p>
  <ul>
    <li><a href="/vision">Vision API for Image text detection</a></li>
    <li><a href="/translate?q=May the force be with you&lang=pl">Translate</a></li>
  </ul>

</div>